In [1]:
from utils import *

In [2]:
data

    PtNum ED  ES Group Height NbFrame Weight  XLen  YLen  ZLen  Time
0       1  1  12   DCM  184.0      30   95.0   216   256    10    30
1       2  1  12   DCM  160.0      30   70.0   232   256    10    30
2       3  1  15   DCM  165.0      30   77.0   256   256    10    30
3       4  1  15   DCM  159.0      28   46.0   232   256    10    28
4       5  1  13   DCM  165.0      30   77.0   256   216    10    30
..    ... ..  ..   ...    ...     ...    ...   ...   ...   ...   ...
95     96  1   8    RV    186      15     76   174   208    18    15
96     97  1  11    RV    187      30     82   216   256     8    30
97     98  1   9    RV    167      22     50   216   256     7    22
98     99  1   9    RV    180      19     80   154   224    16    19
99    100  1  13    RV    165      34     63   216   304     8    34

[100 rows x 11 columns]

In [3]:
data = data[["PtNum", "Height", "Weight"]]

In [4]:
data

    PtNum Height Weight
0       1  184.0   95.0
1       2  160.0   70.0
2       3  165.0   77.0
3       4  159.0   46.0
4       5  165.0   77.0
..    ...    ...    ...
95     96    186     76
96     97    187     82
97     98    167     50
98     99    180     80
99    100    165     63

[100 rows x 3 columns]

In [10]:
data.set_index("PtNum", inplace=True)

In [12]:
data.head()

      Height Weight
PtNum
1      184.0   95.0
2      160.0   70.0
3      165.0   77.0
4      159.0   46.0
5      165.0   77.0

In [17]:
data.describe()

       Height Weight
count     100    100
unique     49     62
top     165.0   70.0
freq        8      8